<div>
    <div>
        <div>
            <div class="color-swatch" data-hex="${color.hex}" data-rgb="${color.rgb}"
                style="background-color: ${color.hex}"></div>
        </div>
    </div>
</div>
<div class="color-meta">
    <p>HEX: {{hex}}</p>
    <p>RGB: {{rgb}}</p>
</div>